/////////////////////////////////////////////
//Langage selector

.lang {
  padding: 1rem 1rem;
  position: relative;
  border-radius: 1rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light);
  display: inline-flex;
  img {
    width: 3rem;
  }
  &__selector {
    border: none;
  }
}

/////////////////////////////////////////////
//CTA Button

.cta {
  margin-left: -4rem;
  font-family: inherit;
  border-radius: 1rem;
  border: none;
  font-size: 1.8rem;
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 2rem 12rem;
  font-weight: 500;

  &:hover {
    background-color: var(--color-green-dark);
  }
}
/////////////////////////////////////////////
//Nav component

.nav {
  &__child {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-left: 6rem;
  }

  &__login {
    color: var(--color-black);
    margin-right: 4rem;
  }

  &__signup {
    padding: 1rem 1.5rem;
    border-radius: 100px;
    background-color: var(--color-green);
    color: var(--color-white);
    margin-right: 4rem;
  }

  &__menu {
    border-left: 1px solid var(--color-grey-light);
    margin-left: 5rem;
    padding: 0.5rem 3.5rem;
    display: flex;
    justify-content: space-between;
    &--child {
      color: var(--color-grey);

      &:hover {
        color: var(--color-black);
      }
    }
    &--child:not(:last-child) {
      margin-right: 5rem;
    }
  }

  &__child:nth-child(2) {
    font-size: 1.8rem;
  }

  &__child > * {
    cursor: pointer;
  }
}

//////////////////////////////////////////////////////
//Home section
.home {
  //Heading Box
  .header {
    max-width: 60rem;
    margin-left: 12rem;
    margin-top: 1rem;

    //Heading
    &__main {
      font-size: 4.5rem;
      font-weight: 500;
    }
    //Sub heading
    &__sub {
      margin-top: 2rem;
      font-size: 1.4rem;
      font-weight: 300;
      letter-spacing: 1px;
    }
    //Location Form
    &__address {
      position: relative;
      display: flex;

      margin-top: 2rem;
      &--location {
        margin-left: 1rem;
        position: inherit;
        width: 1.5rem;
        margin-right: -3rem;
        z-index: 1;
      }
      &--input {
        z-index: 0;
        font-family: inherit;
        border-radius: 1rem;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
        padding-left: 5rem;
        padding-right: 16rem;
        border: none;
        background-color: var(--color-white);
        font-size: 2rem;
        font-weight: 100;

        &::placeholder {
          font-weight: 100;
        }
      }

      &--arrow {
        margin-left: -4rem;
        z-index: 1;
      }
    }
  }
}

//////////////////////////////////////
//Feature section
.feature {
  &__heading--1 {
    font-size: 3.5rem;
    font-weight: 300;
  }
  &__upper {
    margin-bottom: 6rem;
  }
  &__cards1 {
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;

    &--card {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 1rem;
      background-color: var(--color-grey-lighter);
    }

    &--card:not(:last-child) {
      margin-right: 2.5rem;
    }
    &--header {
      font-size: 3rem;
      margin-left: 3rem;
      margin-right: 4rem;
      margin-top: 3rem;
      font-weight: 500;
    }

    &--sub {
      letter-spacing: 1px;
      font-size: 1.8rem;
      margin-left: 3rem;
      margin-right: 2rem;
      margin-top: 4rem;
      margin-bottom: 2rem;
      font-weight: 300;
      line-height: 1.5;
    }

    &--image {
      max-height: 23rem;
      flex: 1;
      .feature-image {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--heading {
      font-size: 3.5rem;
      font-weight: 300;
      max-width: 39rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
    }

    .feature__cards2 {
      display: flex;
      flex-direction: column;

      &--big {
        border-radius: 1rem;
        overflow: hidden;
        margin-bottom: 2rem;
        .feature-big {
          width: 100%;
        }
      }

      &--features {
        display: flex;
        justify-content: space-between;
      }

      &--feature {
        max-width: 27.5rem;
        border-radius: 1rem;
        text-align: left;
        padding: 3rem;
        background-color: var(--color-grey-lighter);

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }

      &--header {
        font-size: 3rem;
        font-weight: 500;
        margin-right: 5rem;
        margin-bottom: 2rem;
      }

      &--sub {
        line-height: 1.3;
        font-size: 2.5rem;
        color: var(--color-grey);
        font-weight: 300;
      }
    }
  }
}

///////////////////////////////////
// Accordion faq
.faq {
  &__heading {
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 7rem;
  }
  &__questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--color-grey-light);

    &--question {
      z-index: 1;
      cursor: pointer;
      font-size: 3rem;
      font-weight: 300;
      padding-bottom: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .question {
        max-width: 82rem;
      }

      .add {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    ////////////////////
    //Transition when clicked using javascript
    .visible {
      height: 100%;
      opacity: 1;
    }
    &--answer {
      transform-origin: top;
      height: 0;
      opacity: 0;

      .faq__question--para {
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        line-height: 1.9;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

////////////////////
// Link section
.link {
  &__column {
    display: flex;
    flex-direction: column;
  }

  .instacart__logo {
    width: 2.9rem;
  }

  &__column:first-child > &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }

  &__column:first-child > &__header > p {
    margin-left: 1.2rem;
  }
  &__column:first-child > &__sub {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;

    .apple__logo,
    .android__logo {
      width: 2.5rem;
    }
  }

  &__sub--ios {
    margin-right: 3rem;
  }

  &__sub--ios,
  &__sub--android {
    display: flex;
    align-items: center;
  }
  &__header {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  &__sub {
    font-size: 1.4rem;
    font-weight: 300;

    & > p {
      margin-bottom: 2rem;
      cursor: pointer;
    }

    & > p:hover {
      text-decoration: underline;
    }
  }
}

//////////////////////////////////
//footer section
.footer {
  & p {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 300;
  }
  &__topic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  &__header {
    .icon {
      width: 20px;
    }
    .icon:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &__header:first-child {
    font-size: 1.8rem;
    font-weight: 500;
  }
  &__header:nth-child(2) {
    display: flex;
    justify-content: space-around;
  }
  &__header > p {
    font-size: 1.4rem;
    font-weight: 500;
  }
  &__header > p:first-child {
    margin-right: 3rem;
  }
}
