////////////////////////////////
//NAV BAR LAYOUT
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-grey-light);
  font-weight: 500;
}

///////////////////////////////
//HOME section layout
.home {
  background-color: var(--color-green-light);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("../images/home-bg-landscape.jpg");
  padding: 5rem 5rem 10rem 5rem;
}

////////////////////////////////
//Feature Section
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 20rem 1rem;
  margin-bottom: 5rem;
}

/////////////////////////////////
//Accordion queston section
.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 25rem 1rem;
}

/////////////////////////////////
//Link section

.link {
  border-top: 1px solid var(--color-grey-light);
  display: flex;
  justify-content: space-between;
  margin: 3rem 20rem 1rem;
  padding-top: 2.2rem;
}

//////////////////////////////////
// Footer
.footer {
  margin: 3rem 20rem 1rem;
  padding-top: 2.2rem;
  border-top: 1px solid var(--color-grey-light);
  display: flex;
  flex-direction: column;
}
