////////////////////////////////
//NAV BAR LAYOUT
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

///////////////////////////////
//HOME section layout
.home {
  
}
